CRON_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=8682734076
EDGE_THRESHOLD=0.10
BLOB_READ_WRITE_TOKEN=
AUTO_TRADE_ENABLED=false
POLYMARKET_PRIVATE_KEY=
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_SIGNATURE_TYPE=3
POLYMARKET_USER_ADDRESS=
